<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diet.trinity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.RegisterActivity"></activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.PaymentDetails" />
        <activity android:name=".activity.PaypalLinkActivity" />
        <activity android:name=".activity.ListViewItemsActivity" />
        <activity android:name=".activity.LineChartActivity" />
        <activity android:name=".activity.SelectDateActivity" />
        <activity android:name=".activity.PolicyActivity" />
        <activity android:name=".activity.MealListActivity" />
        <activity android:name=".activity.SearchFoodActivity" />
        <activity android:name=".activity.RecipieSingleActivity" />
        <activity android:name=".activity.RecipesActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.DailyCaleandarActivity" />
        <activity android:name=".activity.TrialNotifyActivity" />
        <activity android:name=".activity.WelcomeActivity" />
        <activity android:name=".activity.IdealWeightActivity" />
        <activity android:name=".activity.SportActivity" />
        <activity android:name=".activity.BirthdayActivity" />
        <activity android:name=".activity.HeightActivity" />
        <activity android:name=".activity.GenderActivity" />
        <activity android:name=".activity.WeightActivity" />
        <activity android:name=".activity.GoalActivity" />

        <receiver android:name=".MyNotificationPublisher" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>